.photo-list__fav-icon {
  position: relative;
  top: 15px;
  right: -8px;
  width: 38px;
  height: 38px;
  margin-bottom: -30px;
  border: 0.1px solid;
  border-radius: 100%;
  background-color: #eeeeee;
  cursor: pointer;
  text-align: center;
}

.photo-list__fav-icon-svg {
  padding: 8.3px;
}
