.photo-details-modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 55%;
  height: 80vh;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.photo-details-modal__close-button {
  display: inline-block;
  margin-left: 16px;
  margin-top: 16px;
  padding: 0;
  background-color: white;
  color: white;
  font-size: 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.similar-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.main-photo {
  max-width: 100%;
  min-width: 100%;
  max-height: 600px;
  margin-bottom: 25px;

  .photo-details-modal__image {
    max-width: 95%;
    list-style-type: none;
    border-radius: 8px;

    #main-photo {
      max-width: 95%;
      min-width: 95%;
      max-height: 500px;
      object-fit: cover;
      margin: 0;
      padding: 0;
    }
  }
}

.photo-details-modal__images {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  border-radius: 8px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
  margin-top: 8px;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 1rem;
}

.photo-details-modal__header {
  font-size: 1.125rem;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 50px;
  width: 90%;
  margin-left: 40px;
}

.photo-details-modal__photographer-location {
  color: #838383;
}

.photo-details-modal__photographer-profile {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
}

.photo-details-modal__photographer-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 0.75rem;
  margin-left: 8px;
}

ul {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
