.topic-list__item {
  margin-left: 24px;
  line-height: 24px;
}

.topic-list__item span {
  font-size: 18px;
  font-weight: 500;
  color: #2B2B2B;
  text-decoration: none;

  &:hover {
    text-decoration: overline;
    color: #111111;
  }
}
