.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 72px;
  -webkit-box-shadow: 0 4px 6px -6px #222222;
  -moz-box-shadow: 0 4px 6px -6px #222222;
  box-shadow: 0 4px 6px -6px #222222;
}

.top-nav-bar__logo {
  margin-left: 24px;
  font-size: 24px;
  font-weight: 500;
  text-decoration: overline;
  text-underline-position: auto;
  color: #111111;
}
